mixin modal-item(title)
	.modal-item
		+form-wrap
			+e.title= title 
			+e.descr Оставьте свой номер телефона и мы вам перезвоним в течение 15 минут
			.form-floating
				input.form-control(type='tel' placeholder="+7 ___ ___ __ __" id="tel" required)
				label(for='tel') Ваш номер телефона*
			+e.BUTTON.btn(type="submit") Отправить
			+e.small Ввод номера телефона подтверждает ваше согласие c #[a(href="#") условиями передачи информации]
		+img('img/consult.png').bg-img
mixin modal() 
	//  start modals
	a(href="modal-call").link-modal-js modal-call 
	div(id="modal-free"  style="display: none" )
		+b.modal-win
			+modal-item('Бесплатная консультация')
	a(href="modal-call").link-modal-js modal-call 
	div(id="modal-subscribe"  style="display: none" )
		+b.modal-win
			+modal-item('Запишитесь на консультацию')
	a(href="modal-call").link-modal-js modal-call 
	div(id="modal-help"  style="display: none" )
		+b.modal-win
			+modal-item('Обратитесь за помощью')
	a(href="modal-call").link-modal-js modal-call 
	div(id="modal-consult"  style="display: none" )
		+b.modal-win
			+modal-item('Получите консультацию')
	// #modal-call
	
	// end modals