mixin sArbitration(data)
	// start sArbitration
	+b.SECTION.sArbitration.section#sArbitration&attributes(attributes)
		+e.container.container
			+e.text-wrap
				+e.caption Мы заинтересованы в вашей победе
				+e.main Наш арбитражный управляющий решит все имущественные вопросы, поможет минимизировать расходы и&nbsp;организует банкротство &laquo;под ключ&raquo;
				+e.btn Обратиться за помощью
		+e.name Крошкин<br>Михаил <span>Арбитражный управляющий</span>
	// end sArbitration