mixin sResponsibility(data)
	// start sResponsibility
	+b.SECTION.sResponsibility.section#sResponsibility&attributes(attributes)
		+e.container.container
			+e.img-col
				+e.img-wrap
					+img('img/responsibility.png')
			+b.section-title
				h2 Берём все ваши финансовые обязательства под свою полную ответственность
			+e.text-col
				+e.descr Мы&nbsp;законно списываем все долги и&nbsp;прекращаем работу судебных приставов в&nbsp;отношении вас
				+e.small.SMALL Подробнее: Ст. 2 ФЗ 127 несостоятельность (банкротство) - признанная арбитражным судом или наступившая в результате завершения процедуры внесудебного банкротства гражданина неспособность должника в полном объеме удовлетворить требования кредиторов по денежным обязательствам, о выплате выходных пособий и (или) об оплате труда лиц, работающих или работавших по трудовому договору, и (или) исполнить обязанность по уплате обязательных платежей. По факту это не только списание долгов, но и финансовое оздоровление гражданина...
				+e.btn(href="#") Скачать ФЗ «О несостоятельности (банкротстве)»
				+e.call-us Ваши долги и кредиты можно списать законным способом. Хотите узнать как? #[a(href="#") Обратитесь к нам]

				
	// end sResponsibility