// start .sThanks
.sThanks {
	--sPT: #{rem(00)};
	--sPB: #{rem(30)};
	// --sTPB: #{rem()};
	@include media-breakpoint-up(md) {
		--sPT: #{rem(30)};

	}
	@include media-breakpoint-up(lg) {
		display: flex;
		min-height: rem(637);
		justify-content: center;
		align-items: center;
	}
	&__container {
		position: relative;
		.coin-1, .coin-2 {
			position: absolute;
		}
		.coin-1 {
			left: -125px;
    	top: 159px;
			@include media-breakpoint-up(lg) {
				left: 6px;
				top: 159px;
			}
			@include media-breakpoint-up(xl) {
				left: 46px;
				top: 159px;
			}
			@include media-breakpoint-up(xxl) {
				left: 56px;
				top: 159px;
			}
		}
		.coin-2 {
			bottom: -23px;
			right: -169px;
			@include media-breakpoint-up(lg) {
				bottom: -23px;
				right: 11px;
			}
			@include media-breakpoint-up(xl) {
				bottom: -23px;
				right: 21px;
			}
			@include media-breakpoint-up(xxl) {
				bottom: -23px;
				right: 101px;
			}
		}
	}
	&__row{
		--bs-gutter-x: #{rem(24)};
		--bs-gutter-y: #{rem(24)};
		margin-bottom: rem(20);
		@include media-breakpoint-up(lg) {
			justify-content: center;
			margin-bottom: rem(37);
		}
	}
	.section-title{
		h1 {
			margin-bottom: rem(18);
			line-height: 1.2em;
			font-weight: 800;
			font-size: rem(32);
			@include media-breakpoint-up(md) {
				font-size: rem(42);
				margin-bottom: rem(24);
			}
		}
		h4 {
			max-width: rem(590);
			line-height: 1.4;
			margin-bottom: rem(18);
			color: $gray-600;
			margin-left: auto;
			margin-right: auto;
			font-size: rem(17.9);
			@include media-breakpoint-up(md) {
				font-size: rem(24);
				margin-bottom: rem(24);
			}
		}
		p {
			color: $gray-600;
			margin-bottom: 0;
			font-size: rem(16);
			line-height: 1.4em;
			@include media-breakpoint-up(md) {
				font-size: rem(18);
			}
		}
	}
	&__col{

	}
	&__item{
		display: block;
		width: 100%;
		background-color: #fff;
		border-radius: 16px;
		padding: rem(10) rem(15);
		text-align: center;
		@include media-breakpoint-up(lg) {
			max-width: rem(549);
		}
		a {
			font-size: rem(18);
			line-height: 1.39;
			font-weight: 700;
			@include media-breakpoint-up(md) {
				font-size: rem(24);
			}
			&:not(:hover) {
				color: $gray-600;
			}
		}
	}
	&__title {
		font-size: rem(14);
		line-height: 1.6;
		color: $gray-600;
		@include media-breakpoint-up(md) {
			font-size: rem(15);
		}
	}
	&__btn {
		@include main-btn;
		width: 100%;
		padding: rem(20) rem(18);
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(lg) {
			max-width: rem(155);
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sThanks