mixin feedback-item(name="Виктор Слободский",city="г. Москва",sum="850 000 руб",text)
	+e.slide.swiper-slide
		+e.item
			+e.name= name
			+e.city= city
			+e.debt-row.DL
				+e.debt-item
					dt Сумма долга:
					dd= sum
				+e.debt-item
					dt Списано:
					dd.active= sum
			+e.text!= text


mixin sFeedBack(data)
	// start sFeedBack
	+b.SECTION.sFeedBack.section#sFeedBack&attributes(attributes)
		.container.nav-slider-container--js
			+b.section-title
				h2 #[span Отзывы клиентов,] у которых уже НЕТ ДОЛГОВ:
			+e.slider--js.swiper
				.swiper-wrapper
					+feedback-item("Виктор Слободский","г. Москва","850 000 руб",'Подробнее: Ст.&nbsp;2&nbsp;ФЗ 127 несостоятельность (банкротство)&nbsp;&mdash; признанная арбитражным судом или наступившая в&nbsp;результате завершения процедуры внесудебного банкротства гражданина неспособность должника в&nbsp;полном объеме удовлетворить требования кредиторов по&nbsp;денежным обязательствам, о&nbsp;выплате выходных пособий&nbsp;и (или) об&nbsp;оплате труда лиц, работающих или работавших по&nbsp;трудовому договору, и&nbsp;(или) исполнить обязанность по&nbsp;уплате обязательных платежей. По&nbsp;факту это не&nbsp;только списание долгов, но&nbsp;и&nbsp;финансовое оздоровление гражданина... <a href="#">Читать полностью</a>')
					+feedback-item("Виктор Слободский","г. Москва","850 000 руб",'Подробнее: Ст.&nbsp;2&nbsp;ФЗ 127 несостоятельность (банкротство)&nbsp;&mdash; признанная арбитражным судом или наступившая в&nbsp;результате завершения процедуры внесудебного банкротства гражданина неспособность должника в&nbsp;полном объеме удовлетворить требования кредиторов по&nbsp;денежным обязательствам, о&nbsp;выплате выходных пособий&nbsp;и (или) об&nbsp;оплате труда лиц, работающих или работавших по&nbsp;трудовому договору, и&nbsp;(или) исполнить обязанность по&nbsp;уплате обязательных платежей. По&nbsp;факту')
					+feedback-item("Виктор Слободский","г. Москва","850 000 руб",'Подробнее: Ст.&nbsp;2&nbsp;ФЗ 127 несостоятельность (банкротство)&nbsp;&mdash; признанная арбитражным судом или наступившая в&nbsp;результате завершения процедуры внесудебного банкротства гражданина неспособность должника в&nbsp;полном объеме удовлетворить требования кредиторов по&nbsp;денежным обязательствам, о&nbsp;выплате выходных пособий&nbsp;и (или) об&nbsp;оплате труда лиц, работающих или работавших по&nbsp;трудовому договору, и&nbsp;(или) исполнить обязанность по&nbsp;уплате обязательных платежей. По&nbsp;факту это не&nbsp;только списание долгов, но&nbsp;и&nbsp;финансовое оздоровление гражданина... <a href="#">Читать полностью</a>')
					+feedback-item("Виктор Слободский","г. Москва","850 000 руб",'Подробнее: Ст.&nbsp;2&nbsp;ФЗ 127 несостоятельность (банкротство)&nbsp;&mdash; признанная арбитражным судом или наступившая в&nbsp;результате завершения процедуры внесудебного банкротства гражданина неспособность должника в&nbsp;полном объеме удовлетворить требования кредиторов по&nbsp;денежным обязательствам, о&nbsp;выплате выходных пособий&nbsp;и (или) об&nbsp;оплате труда лиц, работающих или работавших по&nbsp;трудовому договору, и&nbsp;(или) исполнить обязанность по&nbsp;уплате обязательных платежей. По&nbsp;факту')
				.slider-controls
					.swiper-pagination
					.navigation
						+arrow
	// end sFeedBack