mixin sFaq(data)
	// start sFaq
	+b.SECTION.sFaq.section#sFaq&attributes(attributes)
		.container
			+b.section-title
				h2 Часто задаваемые #[span вопросы:]			
			+ddGroup
				+ddGroupItem('Какие последствия?')
					p Участниками Клуба могут стать опытные предприниматели, прошедшие отдельный скрининг заявок нашими экспертами. Участниками треков «Школьник», «Студент» и «Молодежь с идеями» могут стать все молодые люди, заинтересованные в предпринимательской деятельности.
				+ddGroupItem('Могу ли сделать самостоятельно?', 'active')
					p Участниками Клуба могут стать опытные предприниматели, прошедшие отдельный скрининг заявок нашими экспертами. Участниками треков «Школьник», «Студент» и «Молодежь с идеями» могут стать все молодые люди, заинтересованные в предпринимательской деятельности.
				+ddGroupItem('Что будет, если продолжать игнорировать коллекторов и кредиторов?')
					p Участниками Клуба могут стать опытные предприниматели, прошедшие отдельный скрининг заявок нашими экспертами. Участниками треков «Школьник», «Студент» и «Молодежь с идеями» могут стать все молодые люди, заинтересованные в предпринимательской деятельности.
				+ddGroupItem('Можно ли сохранить имущество при банкротстве?')
					p Участниками Клуба могут стать опытные предприниматели, прошедшие отдельный скрининг заявок нашими экспертами. Участниками треков «Школьник», «Студент» и «Молодежь с идеями» могут стать все молодые люди, заинтересованные в предпринимательской деятельности.
				+ddGroupItem('Какое имущество нельзя потерять при банкротстве?')
					p Участниками Клуба могут стать опытные предприниматели, прошедшие отдельный скрининг заявок нашими экспертами. Участниками треков «Школьник», «Студент» и «Молодежь с идеями» могут стать все молодые люди, заинтересованные в предпринимательской деятельности.
				+ddGroupItem('Какие долги нельзя списать?')
					p Участниками Клуба могут стать опытные предприниматели, прошедшие отдельный скрининг заявок нашими экспертами. Участниками треков «Школьник», «Студент» и «Молодежь с идеями» могут стать все молодые люди, заинтересованные в предпринимательской деятельности.
		+img('img/rub.png').rub-top
		+img('img/rub.png').rub-left
		+img('img/rub.png').rub-right
	// end sFaq