mixin alone-step(counter, singlyTitle, singlyDescr, serviceTitle, serviceDescr)
	+e.item.col-12.col-xl-10.swiper-slide
		+b.step
			+e.counter= counter
			+e.singly
				+e.singly-title= singlyTitle
				+e.singly-descr= singlyDescr
			+e.service
				+e.service-title= serviceTitle
				+e.service-descr= serviceDescr
				+e.checked


mixin sAloneSteps(data)
	// start sAloneSteps
	+b.SECTION.sAloneSteps.section#sAloneSteps&attributes(attributes)
		+img('img/rub.png').sAloneSteps-bg
		.container
			+b.section-title
				h2 А что если сделать #[span самостоятельно?]
				+e.caption Можно, но:
			.swiper.sAloneSteps-slider--js(data-mobile="false")
				+e.row.row.swiper-wrapper
					+alone-step('1', 'Вам необходимо найти финансового управляющего', 'Важно понимать, что финансовый управляющий - это независимая фигура, не заинтересованная в списании вашего долга', 'Наш арбитражный управляющий заинтересован в вашей победе', 'Поможет разобраться с долгами без нервов и существенных затрат')
					+alone-step('2', 'Вам необходимо собрать обширный список документов', 'В этих документах нельзя допускать ошибок и неточностей', 'В этих документах нельзя допускать ошибок и неточностей','Наши юристы тщательно собирают все необходимые бумаги для дальнейшей работы')
					+alone-step('3', 'Вам необходимо уведомить всех кредиторов о намерении пройти процедуру банкротства', 'Если случится так, что вы кого-то забудете, вам может грозить статус “недобросовестный”', 'В процессе работы мы сами  уведомлеяем кредиторов', 'Мы застравляем прекратить звонки и тем более угрозы в ваш адрес')
					+alone-step('4', 'Вам нужно представлять свои интересы на первом судебном заседании', 'Оно назначается судом для проверки обоснованности поданного вами заявления', 'Представляем ваши интересы во время судебного процесса', 'Работаем дистанционно по всей России и странам СНГ')
					+alone-step('5', 'Если на первом судебном заседании вас признали банкротом, это не всё', 'Кредиторы могут подать апелляцию и добиться реструктуризации долга и реализации имущества', 'Мы не оставляем шансов на возобновление работы кредиторов', 'Работаем дистанционно по всей России и странам СНГ')
		+e.callback-container.container
			+e.callback
				+e.callback-text
					+e.callback-title &quot;Самостоятельное&quot; банкротство дешевле, однако сложность процедуры многократно превосходит стоимость услуги &laquo;под ключ&raquo;
					+e.callback-descr От вас нужна помощь всборе некоторых документов и доверенность, все остальное мы возьмём на себя
					+e.callback-btn Записаться на бесплатную консультацию
				+e.img-wrap
					figure
						+img('img/consult.png')
						figcaption #[span Ольга Зыкова] Юрист по банкротству
	// end sAloneSteps