// start .sAloneSteps
.sAloneSteps {
	position: relative;
	--sPT: #{rem(132)};
	--sPB: #{rem(50)};
	--sTPB: #{rem(25)};
	z-index: 1;
	@include media-breakpoint-down(lg) {
		--sPT: #{rem(70)};
	}
	@include media-breakpoint-down(sm) {
		--sPT: #{rem(24)};
	}
	&::after {
		position: absolute;
		content: '';
		display: inline-block;
		width: 768px;
		height: 740px;
		left: -500px;
		top: -180px;
		background: #BFD8FF;
		opacity: 0.35;
		filter: blur(111px);
		z-index: -2;
		@include media-breakpoint-down(md) {
			display: none;
		}
	}
	.container {
		position: relative;
	}
	h2 {
		span {
			@include media-breakpoint-down(sm) {
				color: $primary;
			}
		}
	}
	.sAloneSteps-bg {
		position: absolute;
		width: 164.49px;
		height: 156.47px;
		left: -16%;
		top: 50px;
		z-index: -1;
		transform: rotate(45.34deg);
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
	&__callback-container {
		padding-left: 0;
		padding-right: 0;
	}
	&-slider--js {
		margin-bottom: 160px;
		@include media-breakpoint-down(lg) {
			margin-bottom: 70px;
			overflow: visible;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: 24px;
		}
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: #{rem(30)};
		@include media-breakpoint-down(lg) {
			flex-wrap: nowrap;
		}
		@include media-breakpoint-down(lg) {
			--bs-gutter-x: #{rem(20)};
		}
	}
	&__item {
		position: relative;
		@include media-breakpoint-down(lg) {
			height: auto;
			width: 80%;
		}
		&:nth-child(even) {
			left: 200px;
			@include media-breakpoint-down(xl) {
				left: 0;
			}
		}
		&:nth-child(odd):not(:last-child) {
			&::before {
				position: absolute;
				bottom: -100px;
				left: 42px;
				display: inline-block;
				content: '';
				width: 1px;
				height: 150px;
				background-image: url("../img/svg/dashed-hor.svg");
				background-repeat: repeat-y;
				@include media-breakpoint-down(xl) {
					content: none;
				}
			}
			&::after {
				position: absolute;
				bottom: -100px;
				left: 42px;
				display: inline-block;
				content: '';
				width: 150px;
				height: 1px;
				background-image: url("../img/svg/dashed-vert.svg");
				background-repeat: repeat-x;
				@include media-breakpoint-down(xl) {
					content: none;
				}
			}
		}
	}
	&__callback {
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 27px 32px;
		background-color: $primary;
		color: $white;
		border-radius: $border-radius;
		&::after {
			position: absolute;
			content: '';
			display: inline-block;
			width: 768px;
			height: 740px;
			top: 50%;
			right: 0;
			transform: translateY(-50%);
			background: #BFD8FF;
			filter: blur(111px);
			z-index: -1;
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
		@include media-breakpoint-down(lg) {
			flex-direction: column;
			padding: 24px;
		}
	}
	&__callback-text {
		max-width: 640px;
	}
	&__callback-title {
		margin-bottom: 8px;
		font-weight: 700;
		font-size: rem(24);
		@include media-breakpoint-down(md) {
			font-size: rem(18);
		}
	}
	&__callback-descr {
		margin-bottom: 32px;
		line-height: 170%;
		@include media-breakpoint-down(lg) {
			margin-bottom: 211px;
		}
		@include media-breakpoint-down(md) {
			font-size: rem(15);
		}
	}
	&__callback-btn {
		@include main-btn;
		max-width: 450px;
		@include media-breakpoint-down(lg) {
			position: relative;
			max-width:none;
			width: 100%;
			z-index: 5;
		}
		@include media-breakpoint-down(sm) {
			padding: 6px 19px;
		}
		@media (max-width: 333px) {
			font-size: 15px;
		}
	}
	&__img-wrap {
		position: relative;
		@include media-breakpoint-down(xl) {
			min-width: 500px;
		}
		@include media-breakpoint-down(lg) {
			min-width: 0;
			width: 100%;
		}
		img {
			position: absolute;
			width: 472px;
			bottom: -27px;
			right: 88px;
			@include media-breakpoint-down(xl) {
				right: 0;
			}
			@include media-breakpoint-down(lg) {
				height: 257px;
				bottom: 20px;
				left: 50%;
				width: auto;
				transform: translateX(-50%);
			}
			@include media-breakpoint-down(sm) {
				bottom: 0;
				height: auto;
				max-width: 100%;
				width: 289px;
			}
		}
		figure {
			@include media-breakpoint-down(lg) {
				margin-bottom: 0;
			}
		}
		figcaption {
			position: absolute;
			top: 7px;
			right: 19px;
			max-width: 90px;
			font-weight: 400;
			font-size: 12px;
			@include media-breakpoint-down(lg) {
				left: 25%;
				right: 0;
				top: -230px;
				max-width: 66px;
			}
			@include media-breakpoint-down(sm) {
				font-size: 8px;
				left: 20%;
				top: -180px;
			}
			span {
				font-weight: 700;
				font-size: rem(18);
				@include media-breakpoint-down(sm) {
					font-size: 13px;
				}
			}
		}
	}
	.section-title{
		
	}
	&__col{

	}
	&__item{

	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAloneSteps
.step {
	position: relative;
	display: flex;
	align-items: flex-start;
	padding-left: 22px;
	padding-top: 24px;
	@include media-breakpoint-down(lg) {
		flex-direction: column;
		padding: 0;
		height: 100%;
		&::after {
			position: absolute;
			left: 61px;
			top: 20px;
			content: '';
			width: 82%;
			height: 10px;
			border-top: 1px dashed $primary;
		}
	}
	&__counter {
		position: relative;
		top: 10px;
		margin-right: 40px;
		font-weight: 700;
		font-size: rem(30);
		@include media-breakpoint-down(lg) {
			margin-bottom: 24px;
			left: 15px;
			font-size: rem(18);
		}
		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			content: '';
			display: inline-block;
			width: 60px;
			height: 60px;
			border-radius: 50%;
			border: 1px solid $primary;
			transform: translateY(-50%) translateX(-50%);
			@include media-breakpoint-down(lg) {
				width: 37px;
				height: 37px;
			}
		}
	}
	&__singly {
		margin-right: rem(77);
		@include media-breakpoint-down(xl) {
			margin-right: 50px;
		}
		@include media-breakpoint-down(lg) {
			flex-grow: 1;
			margin-right:0 ;
		}
	}
	&__singly-title {
		max-width: 558px;
		margin-bottom: 16px;
		font-weight: 700;
		font-size: rem(30);
		line-height: 120%;
		@include media-breakpoint-down(xxl) {
			font-size: rem(25);
		}
		@include media-breakpoint-down(xl) {
			max-width: none;
			font-size: rem(20);
		}
		@include media-breakpoint-down(lg) {
		}
	}
	&__singly-descr {
		max-width: 558px;
		line-height: 170%;
		@include media-breakpoint-down(xl) {
			max-width: none;
		}
		@include media-breakpoint-down(lg) {
			margin-bottom: 16px;
			font-size: rem(15);
		}
	}
	&__service {
		position: relative;
		padding: 24px 64px 24px 24px;
		max-width: 441px;
		min-width: 441px;
		background-color: $white;
		border-radius: $border-radius;
		@include media-breakpoint-down(lg) {
			padding: 16px;
		}
		@include media-breakpoint-down(sm) {
			max-width: none;
			min-width: 0;
		}
	}
	&__service-title {
		margin-bottom: 12px;
		font-weight: 700;
		color: $primary;
		@include media-breakpoint-down(lg) {
			font-size: 15px;
		}
	}
	&__service-descr {
		font-size: 15px;
		line-height: 160%;
		@include media-breakpoint-down(lg) {
			font-size: 13px;
		}
	}
	&__checked {
		position: absolute;
		top: -22px;
		right: 30px;
		width: 45px;
		height: 45px;
		background-image: url('../img/svg/checked2.svg');
		background-repeat: no-repeat;
		background-size: cover;
		@include media-breakpoint-down(lg) {
			display: none;
		}
	}
}